/* Estilos para garantir que o jogo ocupe toda a tela */
      html,
      body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #000000;
      }
      #game-container {
        width: 100%;
        height: 100%;
      }
      canvas {
        display: block;
        width: 100%;
        height: 100%;
        touch-action: none;
        -ms-touch-action: none;
      }
